
<!-- <app-form-search></app-form-search> -->

<app-loading *ngIf="loading" size="md"></app-loading>

<div class="row" *ngIf="!loading">
    <div class="col">
    <div class="card">

      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center pt-3 pb-3">
        <div class="title">{{ slug }}</div>
        <app-button-link [icon]="faPlus" color="light" [path]="['products','create']">Crear</app-button-link>
      </div>

      <div class="card-body">

        <!-- <app-template-table-product [products]="products"></app-template-table-product> -->
         <app-product-list-template [products]="products"></app-product-list-template>

      </div>
    </div>
    </div>
</div>
