@if(loading){
<app-loading></app-loading>
}@else{

<app-head-page title="Editar Caja Chica">
    <app-button-back></app-button-back>
</app-head-page>

<div class="card mb-3">

    <div class="card-body">
        <app-petty-cash-edit [petty_cash]="petty_cash"></app-petty-cash-edit>
    </div>

    <div class="card-footer text-end" style="border-top: 0;">
    </div>

</div>

<app-payment-index [paymentable_type]="'petty_cash'" [payments]="petty_cash?.payments" [paymentable_id]="petty_cash.id"></app-payment-index>


}