<div class="prices d-flex justify-content-between align-items-center">

    <div class="title">{{ title }}</div>

    @for (price of prices; track $index) {
    <div class="price mx-2">

        @if (current_product_id === product_id) {
        <span class="value_edit">
            <input type="number" [placeholder]="price" step="0.01" class="form-control mb-0 px-2 py-1"
                (click)="$event.stopPropagation()">
        </span>
        }@else{
        <span class="value px-2">{{ price ? price : "0.00" }}</span>
        }
    </div>
    }
</div>