<div class="table-responsive">

    <table class="table table-hover table-striped mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo pago</th>
                <th scope="col">Total</th>
                <th scope="col">Productos</th>
            </tr>
        </thead>

        <tbody formArrayName="variants">
           @for (order of orders; track order.id) {
            <tr app-shopify-order-cash-index-row [order]="order"></tr>
           }
        </tbody>

    </table>

</div>
