@if(loading){
<app-loading></app-loading>
}@else{
<app-head-page title="Empleados">
    <app-button-link [path]="['./create']">Agregar Empleado</app-button-link>
</app-head-page>

<div class="card">

    <div class="card-header py-3">

        <app-user-head-table (emitSearchResult)="receiveSearchResult($event)" type="employee"></app-user-head-table>

    </div>

    <div class="card-body p-0">

        @if(employees.length > 0){
            <app-employee-index [employees]="employees"></app-employee-index>
        }@else{
            <p class="p-4">No se cuenta con registro de empleados   </p>
        }


    </div>

    <div class="card-footer text-end" style="border-top: 0;">
        <small class="text-muted">Total: {{ employees.length }}</small>
    </div>

</div>



}