<select [(ngModel)]="value" id="SubCategories" class="me-2 form-select" aria-label="Default select example"
    (change)="onCategoryChange($event)">

    <option [value]="null">Seleccione</option>

    @for (category of categories; track category.id) {
    <option [value]="category.id">{{ category.name }}</option>

    <!-- Opciones para las subcategorías -->

        @for (child of category.children; track child.id) {
            <option [value]="child.id">-- {{ child.name }}</option>
            <!-- Opciones para subcategorías de subcategorías -->
            @for (grandChild of child.children; track grandChild.id) {
                <option [value]="grandChild.id">---- {{ grandChild.name }}</option>
            }

        }
    }
</select>