<select [class.is-invalid]="invalid" [(ngModel)]="value" id="SubCategories" class="me-2 form-select" aria-label="Default select example"
    (ngModelChange)="onCategoryChange($event)">

    <option [ngValue]="null">Seleccione</option>

    @for (category of categories; track category.id) {
    <option [ngValue]="category.id">{{ category?.full_name }}</option>

    <!-- Opciones para las subcategorías -->

        @for (child of category.children; track child.id) {
            <option [ngValue]="child.id">-- {{ child.name }}</option>
            <!-- Opciones para subcategorías de subcategorías -->
            @for (grandChild of child.children; track grandChild.id) {
                <option [ngValue]="grandChild.id">---- {{ grandChild.name }}</option>
            }

        }
    }
</select>