:host-context(.is-invalid) ::ng-deep .ng-select-container {
  border: 1px solid #dc3545 !important;
  background-color: #fff;
}

:host-context(.is-invalid) ::ng-deep .ng-select.ng-select-focused .ng-select-container {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}