<form [formGroup]="form">

    <div class="p-3">
        <app-input-group [icon]="faMagnifyingGlass" text="">
            <input formControlName="search" type="text" class="form-control" placeholder="Busca Productos"
                aria-label="name" aria-describedby="basic-name" />
                <button type="button" class="btn btn-secondary">+ Agregar</button>
        </app-input-group>
    </div>

    @if(loading){
        <app-loading></app-loading>
    }@else{

    @if(variants?.length > 0){

            <app-inventory-variant-index [variants]="variants" (inventoryVariantArraySelected)="receiveSelectedInventoryVariants($event)"
                (emitInventoryVariantsSelected)="receiveInventoryVariantsSelected($event)"></app-inventory-variant-index>

            <!-- <app-inventory-variant-index-selected [products]="products"></app-inventory-variant-index-selected> -->

        }@else{

            <app-void-index [title]="'No se encontraron variantes'" [subtitle]="'Comienza la busqueda'"></app-void-index>

        }
    }

</form>
