<td class="text-center">#{{ payment.id }}</td>
<td class="text-center">
  <app-image-preview [image]="payment?.images[0]"></app-image-preview>
</td>

<td class="text-center">{{ payment?.comment }}</td>
<td class="text-center">{{ payment?.gateway?.name }}</td>
<!-- <td class="text-center">{{ (payment.direction === 'in' ? 'Ingreso' : 'Salida') }}</td> -->
<td class="text-center">{{ payment.date }}</td>
<td class="text-center" [ngClass]="(payment.direction === 'in' ? 'text-success' : 'text-danger')">{{ payment.amount |
  currency:'PEN':'symbol':'1.2-2':'es-PE' }} </td>

@if(edit){
  
<td class="text-center" style="width: 50px;">
  <app-button (click)="openVerticallyCentered(content)" [icon]="faEdit" color="outline-dark" [me]="false"></app-button>

</td>

<td style="width: 50px;">
  @if(removeLoading){
  <app-loading></app-loading>
  }@else{
  <app-button [me]="false" [icon]="faTrash" colortext="white" (click)="removePayment(payment.id)" color="danger">
  </app-button>
  }
</td>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Editar Pago</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-payment-edit [payment]="payment" [paymentable_type]="paymentable_type" [paymentable_id]="paymentable_id"
      (emitUpdatePayment)="receiveUpdatePayment($event)"></app-payment-edit>
  </div>
</ng-template>

<ng-template #purchase let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Compra #{{ payment?.purchase.id }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-purchase-card [purchase]="payment?.purchase"></app-purchase-card>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
}