<td class="text-center">#{{ payment.id }}</td>
<td class="text-center"><img [src]="payment?.images[0]?.url_thumbnail" alt="" height="50px"></td>
<td class="text-center">{{ payment.amount | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td>
<td class="text-center">{{ payment?.gateway?.name }}</td>
<td class="text-center">{{ payment.status }}</td>
<td class="text-center">{{ payment.date | DateShopify }}</td>
<td style="width: 50px;">
  <app-button (click)="openVerticallyCentered(content)" [icon]="faEdit" color="outline-dark" [me]="false"></app-button>
</td>
<td style="width: 50px;">
  @if(removeLoading){
  <app-loading></app-loading>
  }@else{
  <app-button [me]="false" [icon]="faTrash" colortext="white"
    (click)="removePayment(payment.id)" color="danger">
  </app-button>
  }
</td>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Editar Pago</h6>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-payment-edit [payment]="payment" [paymentable_type]="paymentable_type" [paymentable_id]="paymentable_id"
      (emitUpdatePayment)="receiveUpdatePayment($event)"></app-payment-edit>
  </div>

</ng-template>