<div class="table-responsive">
  <table class="table table-hover table-striped mb-0 align-middle">
    <thead class="table-light">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Qty</th>
        <th scope="col" class="text-center">Fecha</th>
        <th scope="col">Nomnbre</th>
        <th scope="col" style="width: 300px">Courier</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Origen</th>
        <th scope="col" class="text-center">tags</th>
        <th scope="col" class="text-center" style="width: 75px">Pago</th>
        <th scope="col" class="text-center" style="width: 125px">Items</th>
        <th scope="col" class="text-center" style="width: 125px">Detalles</th>
      </tr>
    </thead>

    <tbody>
      @for (order of orders; track order.id ?? $index) {
        <tr app-shopify-order-index-row [order]="order"></tr>
      }
    </tbody>
  </table>
</div>

<div #bottom></div>
