/* Estilo del contenedor UL */
.list-group[cdkDropList] {
  min-height: 60px;
  background: #fff;
  border-radius: 0.375rem; /* equivalente a rounded */
  overflow: hidden;
}

/* Estilo de cada LI arrastrable */
.list-group-item[cdkDrag] {
  cursor: move;              /* indicar que se puede arrastrar */
  user-select: none;          /* evitar selección de texto al arrastrar */
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Vista previa del item mientras lo arrastras */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.375rem;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  background: #f8f9fa; /* color similar al list-group de bootstrap */
  padding: 0.5rem 1rem;
}

/* Lugar ocupado mientras arrastras */
.cdk-drag-placeholder {
  opacity: 0;
}

/* Animación de movimiento */
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animación en los hermanos cuando hay dragging */
.list-group.cdk-drop-list-dragging 
  .list-group-item[cdkDrag]:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}




