<!-- {{ transactions |json }} -->
<div ngbAccordion [closeOthers]="true" class="transactions mb-3" (show)="onAccordionShown($event)"
    (hidden)="onAccordionHidden($event)">

    @for (product of products; track product.id ) {

    <div ngbAccordionItem #item="ngbAccordionItem">

        <h2 ngbAccordionHeader>

            <button ngbAccordionButton class="py-2" (click)="productSelected(product)">
                <div class="table-buttom d-flex justify-content-between align-items-center w-100">

                    <div class="product_name">{{ product.title }}</div>

                    <div class="product_image">
                        <img src="{{ product.image | shopifyImageThumbnail }}" height="45px" alt="">
                    </div>

                    <div class="price">
                        {{ product.variants[0].price_normal}}
                    </div>

                    <div class="product_status">
                        <span class="badge text-bg-secondary text-white">{{ product.status }}</span>
                    </div>

                    <div class="product_date text-center">{{ product.updated_at_shopify | date:'dd-MM-yyyy'}}</div>
                    <div class="product_date text-center">{{ product.created_at_shopify | date:'dd-MM-yyyy'}}</div>
                </div>
            </button>

        </h2>

        <div ngbAccordionCollapse>

            <div ngbAccordionBody class="color-body">

                <ng-template>

                    pronto...

                </ng-template>

            </div>
        </div>
    </div>
    }
</div>