<div class="controls d-flex justify-content-between align-items-between">
    <div class="left d-flex">
        <button class="btn btn-secondary btn-sm me-1">Todos</button>
        <button class="btn btn-light btn-sm me-1">Activos</button>
        <!-- <button class="btn btn-light btn-sm me-1">Borrador</button> -->
        <button class="btn btn-light btn-sm me-1">Bloqueados</button>
    </div>
    <div class="right d-flex justify-content-between align-items-between">

        @if(showSearch){
        <input class="form-control form-control-sm me-1" type="text" placeholder="Buscar" aria-label="cajon de busqueda"
            (input)="fnSearch($event)" />
        }@else{
        <app-button [icon]="faMagnifyingGlass" color="outline-secondary" class="me-1"
            (click)="fnShowSearch()">Buscar</app-button>
        }

        <app-button [icon]="faFilter" color="outline-secondary" separation="0"></app-button>
    </div>
</div>