<button type="button" [routerLink]="['shopify', 'orders']" class="btn p-0 border-0 bg-transparent text-start"
    style="text-decoration: none; width: 100%;">
    <div class="card text-bg-{{ color }} mb-3 text-white">

        <div class="card-header py-3">
            <span class="me-2"><fa-icon [icon]="faChartSimple"></fa-icon></span>Pedidos
        </div>

        <div class="card-body">
            <p>
                <span class="me-2">Ir a pedidos</span>
                <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
            </p>
        </div>

    </div>
</button>