<td class="text-center">{{ purchase?.quantity }}</td>
<td class="text-center">{{ purchase?.unit.name }}</td>
<td>
    <div>
        {{ purchase?.name | capitalize }}
    </div>
    @if(purchase?.supplier?.user.name){
    <div>
        - {{ purchase?.supplier?.user.name | capitalize }}
    </div>
    }

</td>
<td class="text-center">{{ purchase?.price | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td>

<td class="text-center">{{ purchase?.total | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td>
<td style="width: 50px;">
    <app-button color="outline-dark" [icon]="faEdit" (click)="openVerticallyCentered(content)"></app-button>
</td>
<td style="width: 50px;">
    @if(loading){
        <app-loading></app-loading>
    }@else{
            <app-button [me]="false" [icon]="faTrash" colortext="white"
        (click)="removePurchase(purchase.id)" color="danger"></app-button>
    }
</td>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar Compra</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-purchase-edit [purchase_id]="purchase.id" (emitPurchaseUpdated)="receivePurchaseUpdated($event)"
            [purchaseable_type]="purchaseable_type" [purchaseable_id]="purchaseable_id"></app-purchase-edit>
    </div>

</ng-template>

<ng-template #images let-modal>
    <div class="modal-header">
        <h4 class="modal-title fs-5 fw-500">Adjuntar Boletas y Facturas</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="vouchers my-4">
            <app-gallery [path]="`purchases/${purchase.id}/images`"></app-gallery>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>