<div class="overlay-content my-3">

    @if(purchase != null){


    <div class="row">

        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-8 col-7">
            <!-- Description -->
            <div class="text">
                <h5>{{ purchase.name }}</h5>
                <p class="text-muted mb-0">
                    {{ purchase.observations }}
                </p>
                <span class="badge text-bg-primary mt-2">{{ purchase.supplier.name }}</span>
            </div>
        </div>

        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-5 d-flex row justify-content-center">
            <h6 class="text-success text-center mb-3">S/. {{ purchase.total }}
            </h6>

            <button class="btn btn-outline-dark w-xxl-75 w-xl-75 w-lg-75 w-md-75 w-sm-75 w-xs-100"(click)="openVerticallyCentered(content)"><fa-icon [icon]="faEdit"></fa-icon> Editar</button>

        </div>

    </div>

    }@else{
    El purchase es nullo
    }

    @if(loadingOverlay){
    <div class="overlay">
        <app-loading></app-loading>
    </div>
    }

</div>

<ng-template #content let-modal>
    <div class="modal-header bg-success text-white d-flex justify-content-between align-items-center">
        <h5 class="modal-title"><fa-icon [icon]="faCashRegister" class="me-2"></fa-icon> Editar Compra</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-purchase-edit [purchase_id]="purchase.id" (emitPurchaseUpdated)="receivePurchaseUpdated($event)"></app-purchase-edit>
    </div>

</ng-template>