<app-loading *ngIf="loading" size="md"></app-loading>


<div class="card" *ngIf="!loading">

    <div class="card-header d-flex justify-content-between pt-3 pb-3">
        <div class="title">Categorias</div>
        <app-button-link [icon]="faPlus" [path]="['categories', 'create']">Crear Categoria</app-button-link>
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let category of categories">
                    <div>
                        <h5>{{ category.name }}</h5>
                        <p class="text-muted">
                            @if(category.has_color && category.has_size){
                            <span class="badge bg-primary me-1">Colores</span>
                            <span class="badge bg-secondary">Tallas</span>
                            }@else if(category.has_color){
                            <span class="badge bg-primary">Colores</span>

                            }@else{
                            <span class="badge bg-secondary">Tallas</span>
                            }
                        </p>

                    </div>
                    <div class="d-flex justify-content-end align-items-center">
                        <app-button-link color="outline-secondary" class="me-2" [icon]="faLink" [path]="['categories', category.name]">Ver</app-button-link>
                        <app-button-link color="secondary" [icon]="faEdit" [path]="['categories', category.name]">Editar</app-button-link>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</div>