<app-loading *ngIf="loading" size="md"></app-loading>


<div class="card" *ngIf="!loading">

    <div class="card-header d-flex justify-content-between pt-3 pb-3">
        <div class="title">Categorias</div>
        <app-button-link [icon]="faPlus" [path]="['categories', 'create']">Crear Categoria</app-button-link>
    </div>

    <div class="card-body">

        <div class="table-responsive">

            <app-category-index [categories]="categories"></app-category-index>


        </div>

    </div>

</div>