<!-- <td class="text-center py-3">#{{ manufacture.id }}</td> -->
<!-- <td class="text-center">
                    <fa-icon [icon]="faScissors"></fa-icon>
                </td> -->

<td class="text-center" style="width: 75px;">
    @if(manufacture.type === 'production'){
    <fa-icon [icon]="faGears" style="opacity: 0.5;"></fa-icon>
    }@else{
    <fa-icon [icon]="faBoxesStacked" style="opacity: 0.5;"></fa-icon>
    }
</td>
<td class="text-center" style="width: 75px;">{{ manufacture.sum_products?? 0 }}</td>
<th>
    <div class="name">{{ manufacture.name }}</div>
</th>
<!-- <td class="text-center">{{ manufacture.sum_purchases?? 0 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}
</td> -->
<!-- <td class="text-center">{{ (manufacture.sum_products > 0) ? manufacture.sum_purchases /
    manufacture.sum_products : 0 | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td> -->
<td>
    {{ manufacture?.user?.name }}
</td>
<!-- <td class="text-center">{{ manufacture.created_at | DateShopify }}</td> -->
<td class="text-center" style="width: 75px;">
    <app-button color="success text-white" (click)="getManufactureReceptionId(manufacture)" [icon]="faArrowRightArrowLeft"></app-button>
</td>

