<div>
    <table class="table table-hover mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th class="text-center">#</th>
                <th style="width: 125px;">Nombre</th>
                <th class="d-none d-md-table-cell">DNI</th>
                <th style="width: 125px;" class="d-none d-md-table-cell">Sueldo</th>
                <th class="d-none d-md-table-cell">Status</th>
                <th class="d-none d-md-table-cell">Roles</th>
                <th class="text-center d-none d-md-table-cell">Comision</th>
                <th>Minutos</th>
                <th>Sueldo</th>

                <!-- <th class="text-center">Fecha de ingreso</th> -->
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @for (employee of employees; track employee.id) {

            <!-- {{ employee | json }} -->

                <tr app-employe-index-row [employee]="employee"></tr>
            }

            <!-- <tr>
                <td colspan="7"></td>
                <td></td>
                <td>S/. </td>
                <td></td>

            </tr> -->

        </tbody>
    </table>
</div>