<div class="table-responsive">
    <table class="table table-hover table-striped mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Sueldo</th>
                <th>Status</th>
                <th>Roles</th>
                <th class="text-center">Comision</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @for (employee of employees; track employee.id) {

            <!-- {{ employee | json }} -->

            <tr (click)="getEmployeeId(employee.id)">
                <td class="text-center">{{ employee.id }}</td>
                <td>{{ employee.user.name }}</td>
                <!-- <td>{{ user.category.name }}</td> -->
                <td>{{ employee.user.document_number }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    @if(employee.user.status){
                    <span class="badge text-bg-secondary text-white">Activo</span>
                    }@else{
                    <span class="badge text-bg-danger text-white">Bloqueado</span>
                    }
                </td>
                <td>

                    @for (rol of employee.user.roles; track rol.id) {
                        <span class="badge text-bg-success text-white me-1">{{ rol.title }}</span>
                    }

                </td>
                <td class="text-center">{{ (employee?.comission ?? 0) / 100 | percent }}</td>
                <td class="text-center">{{ employee?.created_at | DateShopify }}</td>
                <td class="text-center">
                    <div class="controls d-flex justify-content-center align-items-center">
                        <app-button-edit></app-button-edit>
                        <!-- <app-button [icon]="faTrash" separation="0" color="outline-dark"></app-button> -->
                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>