<div class="table-responsive">
    <table class="table table-hover table-striped mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Sueldo</th>
                <th>Status</th>
                <th>Roles</th>
                <th class="text-center">Comision</th>
                <th class="text-center">Fecha de ingreso</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @for (employee of employees; track employee.id) {

            <!-- {{ employee | json }} -->

                <tr app-employe-index-row [employee]="employee"></tr>
            }

        </tbody>
    </table>
</div>