<form action="" [formGroup]="form">

    <div class="controls">

        <!-- Filtros -->

        @if(show_date){
        <div class="controls__filters">

            <input type="date" class="form-control" formControlName="start_date" [max]="form.get('end_date')?.value" />

            <input type="date" class="form-control" formControlName="end_date" [min]="form.get('start_date')?.value"
                [max]="today" />

        </div>
        }

        <!-- Buscador -->
        @if (box_search) {
        <div class="controls__search">

            @if (showSearch) {
            <input type="text" class="form-control" formControlName="search" placeholder="Buscar"
                (blur)="fnHideSearch()" (keydown.enter)="search()" />
            } @else {
            <app-button [icon]="faMagnifyingGlass" color="outline-secondary" separation="0" (click)="fnShowSearch()">
                Buscar
            </app-button>
            }
        </div>
        }

    </div>

</form>

<!-- <form action="" [formGroup]="form">

    <div class="controls d-flex justify-content-between align-items-between mb-3">

        @if(box_search){
        <div class="right d-flex justify-content-between align-items-between">

            @if(showSearch){
            <input class="form-control form-control-md" style="width: 150px;" formControlName="search" type="text" placeholder="Buscar"
                (blur)="fnHideSearch()" (keydown.enter)="search()" aria-label="cajon de busqueda" />
            }@else{
            <app-button [icon]="faMagnifyingGlass" color="outline-secondary bg-white" separation="0"
                (click)="fnShowSearch()">Buscar</app-button>
            }

        </div>
        }

        <div class="filter d-flex">

            <input type="date" class="form-control me-2" placeholder="date" formControlName="start_date"
                [max]="form.get('end_date')?.value" aria-label="date" aria-describedby="basic-date" />
            <input type="date" class="form-control me-2" placeholder="date" formControlName="end_date"
                [min]="form.get('start_date')?.value" [max]="today" aria-label="date" aria-describedby="basic-date" />

            <app-button color="dark" [icon]="faMagnifyingGlass" (click)="search()">Buscar</app-button>

        </div>


    </div>

</form>
 -->