<div class="widgets mb-3">
    <div class="row">

        @for (widget of widgets; track $index) {

        <div class="col-lg-3 col-md-3 col-6">

            <a [routerLink]="widget.link">

                <div class="widget-manufacture mb-3 card text-white" routerLinkActive="bg-primary"
                    [routerLinkActiveOptions]="{ exact: widget.exact ?? false }">

                    <div class="card-header">
                        <h6 class="my-0 widget-title">
                            <fa-icon [icon]="widget.icon" class="me-2"></fa-icon>
                            {{ widget.title }}
                        </h6>
                    </div>

                    <div class="card-body">


                        @switch (widget.type) {
                        @case ('currency') {
                        <h5>{{ widget.value | pen }}</h5>
                        }

                        @case ('units') {
                        <h5>{{ widget.value }}</h5>
                        }

                        @case ('date') {
                        <h5>{{ widget.value | date:'dd/MM/yyyy' }}</h5>
                        }

                        @default {
                        <h5>{{ widget.value }}</h5>
                        }

                        }


                        <small class="text-white-75">{{ widget.subtitle }}</small>
                    </div>

                </div>

            </a>

        </div>

        }

    </div>
</div>