<!-- {{ colors | json }} -->
<div *ngIf="has_size; else onlyOneColor">

    <ul class="list-group list-group-flush">
    
        <li class="list-group-item" *ngFor="let color of colors">
            <app-color [color]="color"></app-color>
        </li>
    
    </ul>

</div>

<ng-template #onlyOneColor>

    <!-- Esto se ejecutara una sola vez -->
    <ng-container *ngFor="let color of colors">

        <app-gallery [path]="`products/${color.product_id}/colors/${color.id}/images`"></app-gallery>

    </ng-container>

</ng-template>