<app-form-search></app-form-search>

<!-- ProductEdit -->
@if(loading){
<app-loading></app-loading>
}@else{

<div class="card mb-3">

  <div class="card-header py-3 bg-info text-white">
    <fa-icon [icon]="faPenToSquare" class="me-2"></fa-icon> Edicion Producto
  </div>

  <div class="card-body">
    <app-product-edit [product]="product" (emitCategorySelected)="categorySelected($event)"></app-product-edit>
  </div>

</div>

<div class="card mb-3">

  <div class="card-body">

    <h5 class="card-title mb-3">Variantes</h5>

    @if(product.colors.length > 0){
      
      <app-color-index [colors]="product.colors"></app-color-index>
    }

  </div>

</div>

<!-- Opciones -->

    <div class="card mb-3">

      <div class="card-body">

        <h5 class="card-title mb-3">Gallery</h5>

        <app-gallery [path]="`products/${product.id}/images`"></app-gallery>

      </div>

    </div>

    <div class="card mb-3">

      <div class="card-body">

        <h5 class="card-title mb-3"> Tallas</h5>

        <div class="attributes mx-auto">

          <app-size-index [sizes]="sizes"></app-size-index>
          <app-size-create [product_id]="product.id" (emitSizeCreate)="receiveSizeCreate($event)"></app-size-create>

        </div>


      </div>

    </div>






}