<div class="container d-flex justify-content-center align-items-center vh-100">

  <div class="card" style="width: 360px;">

    <div class="card-body p-4">

      <form [formGroup]="form">

        <h2>Login</h2>
        <p class="text-body-secondary">Inicia sesion</p>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <input autoComplete="username" cFormControl placeholder="Email" formControlName="email" />
        </c-input-group>
        <c-input-group class="mb-4">
          <span cInputGroupText>
            <svg cIcon name="cilLockLocked"></svg>
          </span>
          <input autoComplete="current-password" cFormControl placeholder="Contrasena" type="password"
            formControlName="password" />
        </c-input-group>
        @if(error){
        <div class="alert alert-danger">{{ error }}</div>
        }

        <app-button-login class="w-100" [loadingIcon]="loadingIcon" [disabled]="disabledButton"
          (clickCustom)="login()">Login</app-button-login>

      </form>

    </div>

  </div>

</div>