@if(inventories.length === 0){
    <app-void-index [title]="`No hay registros`"></app-void-index>
}@else{
    <div class="table-responsive">

    <table class="table table-hover table-striped mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Name</th>
                <th scope="col" class="text-center">Qty</th>
            </tr>
        </thead>

        <tbody formArrayName="variants">
            @for (inventory of inventories; track inventory.id) {
                <tr [routerLink]="[inventory.id]" class="cursor-pointer">
                    <td class="text-center">{{ inventory.id }}</td>
                    <td>{{ inventory.name }}</td>
                    <td class="text-center"></td>
                </tr>
            }
        </tbody>
        
    </table>

</div>
}

