@if(loading){
<app-loading></app-loading>
}@else{
<app-head-page [title]="`Orden: #000${purchase_order_id}`" [icon]="faCreditCard">
    <app-button-back></app-button-back>
</app-head-page>

<div class="card mb-3">

    <div class="card-body">

        <app-purchase-order-edit [purchase_order]="purchase_order"></app-purchase-order-edit>

    </div>

</div>

<div class="card">

    <div class="card-header pb-2 py-3 bg-secondary text-white">
        <div class="controls d-flex justify-content-between align-items-center">
            <span> Items</span>
            <button class="btn btn-dark btn-sm" (click)="openVerticallyCentered(content)">+ Agregar Productos</button>
        </div>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Producto</th>
                        <th scope="col" class="text-center">Variante</th>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-center">Total</th>
                        <th scope="col" class="text-center">Fecha de entrega</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td>Polera Doble capucha Rosado</td>
                        <td class="text-center" style="width: 175px;">
                            S
                        </td>
                        <td class="text-center" style="width: 150px;">
                            10

                        </td>
                        <td class="text-center" style="width: 150px;">
                            125

                        </td>
                        <td class="text-center">360</td>
                        <td class="text-center">10-06-2026</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td>Polera Doble capucha Rosado</td>
                        <td class="text-center" style="width: 175px;">
                            S
                        </td>
                        <td class="text-center" style="width: 150px;">
                            10

                        </td>
                        <td class="text-center" style="width: 150px;">
                            125

                        </td>
                        <td class="text-center">360</td>
                        <td class="text-center">10-06-2026</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td>Polera Doble capucha Rosado</td>
                        <td class="text-center" style="width: 175px;">
                            S
                        </td>
                        <td class="text-center" style="width: 150px;">
                            10

                        </td>
                        <td class="text-center" style="width: 150px;">
                            125

                        </td>
                        <td class="text-center">360</td>
                        <td class="text-center">10-06-2026</td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td>Polera Doble capucha Rosado</td>
                        <td class="text-center" style="width: 175px;">
                            S
                        </td>
                        <td class="text-center" style="width: 150px;">
                            10

                        </td>
                        <td class="text-center" style="width: 150px;">
                            125

                        </td>
                        <td class="text-center">360</td>
                        <td class="text-center">10-06-2026</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>

<ng-template #content let-modal>

    <div class="modal-header">
        <h1 class="modal-title fs-6">Agregar Producto</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-purchase-create [supplier_id]="purchase_order.supplier_id"></app-purchase-create>

    </div>


    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>

<div class="modal-control">
    <div class="content-control w-100">
        <button 
            class="btn btn-dark fs-7" 
            type="button" 
            [ngClass]="formActive ? 'btn-dark' : 'btn-secondary disabled'"
        >
            Agregar Producto(s)
        </button>
    </div>
</div>
}       