<form [formGroup]="form">

    <div class="row mb-3">
        <div class="col-lg-12">
            <app-input-group [icon]="faPenToSquare" text="Nombre de la Marca">
                <input formControlName="name" type="text" class="form-control" placeholder="Marca" aria-label="name"
                    aria-describedby="basic-tiktok" />
            </app-input-group>
        </div>


        <div class="col-lg-12 col-12">

            <hr>

                <app-button (action)="create()" color="primary" [icon]="faPlus" [disabled]="disabledButton"
                    [loadingIcon]="loadingIcon">Crear Marca</app-button>
        </div>

    </div>

    <!-- {{ form.getRawValue() | json }} -->

</form>