@if(loading){
<app-loading></app-loading>
}@else{

<app-head-table type="employee_attendance" [is_redirect]="false"
    (emitSearchResult)="receiveAttendances($event)"></app-head-table>

<div class="card mb-3">

    <div class="card-header">
        Asistencias
    </div>

    <div class="card-body p-0">
        <app-attendance-index [attendances]="attendances"></app-attendance-index>
    </div>

    <div class="card-footer" style="border-top: 0;">
        <div class="d-flex justify-content-end align-items-center">
            <span class="text-muted me-2">Total Horas:</span>
            <span class="text-muted"></span>
        </div>
    </div>

</div>


<div class="card mb-3">

    <div class="card-header py-3">
        Detalles de pago
    </div>

    <div class="card-body">

        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Sueldo Base: 78 Horas (Quincena)</span>
                <h6>S/. 650</h6>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Dias Asistidos</span>
                <h6>10</h6>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Pago por hora (S/. 650/78h)</span>
                <h6>S/. 8.34</h6>
            </li>

        </ul>

    </div>

</div>

<div class="card mb-3">

    <div class="card-header py-3">
        Resumen de pago
    </div>

    <div class="card-body">

        <ul class="list-group list-group-flush">


            <li class="list-group-item text-success d-flex justify-content-between align-items-center">
                <span>Horas laboradas: 73:59 Horas</span>
                <h6>S/. 617.16</h6>
            </li>

            <li class="text-danger list-group-item d-flex justify-content-between align-items-center">
                <span>Descuento Almuerzo: - 10 Horas (*)</span>
                <h6>- S/. 83.40</h6>
            </li>

            <li class="text-danger  list-group-item d-flex justify-content-between align-items-center">
                <span>Descuento dia 11 de Abril: - 9 Horas (**)</span>
                <h6>- S/. 75.06</h6>
            </li>

            <li class="text-success  list-group-item d-flex justify-content-between align-items-center">
                <span>Comisiones del 1 al 18</span>
                <h6>S/. 137.41</h6>
            </li>

        </ul>

    </div>

    <div class="card-footer bg-dark text-white py-3 d-flex justify-content-between align-items-center">
        <span>Total a Pagar</span>
        <h3>+ S/. 596.11</h3>
    </div>


</div>

<p>(*) El control biometrico marca las horas de corrido y no descuenta la hora del almuerzo, por tanto se descuento 1 hora por cada dia de los 10 dias laborados</p>
<p>(**) El 11 fue sabado y este dia es de convenio para recuperar dias pasados, por lo que no entra en el computo de esta quincena</p>


}