@if(loading){
<app-loading></app-loading>
}@else{

<app-head-table type="employee_attendance" [is_redirect]="false"
    (emitSearchResult)="receiveAttendances($event)"></app-head-table>

<div class="card mb-3">

    <div class="card-header">
        Asistencias
    </div>

    <div class="card-body p-0">
        <app-attendance-index [attendances]="attendances" (emitHoursMinuts)="receiveHoursMinuts($event)" (emitHoursDecimal)="receiveHoursDecimal($event)"></app-attendance-index>
    </div>

    <div class="card-footer" style="border-top: 0;">
        <div class="d-flex justify-content-end align-items-center">
            <span class="text-muted me-2">Total Horas:</span>
            <span class="text-muted"></span>
        </div>
    </div>

</div>


<div class="card mb-3">

    <div class="card-header py-3">
        Detalles de pago
    </div>

    <div class="card-body">

        <ul class="list-group list-group-flush">

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Sueldo Base (fulltime)</span>
                <h6>S/. 565</h6>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Horas Laborados</span>
                <h6>{{ hoursMinuts }}</h6>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Pago por hora (S/. 565/78h)</span>
                <h6>{{ 7.24 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
            </li>

            <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Comisiones de venta ({{ employee?.comission }})</span>
                <h6>{{ 7.24 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
            </li> -->

        </ul>

    </div>

    <div class="card-footer bg-dark text-white py-3 d-flex justify-content-between align-items-center">
        <span>Total a Pagar (Partime)</span>
        <h3>{{ 7.24 * hoursDecimal | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h3>
    </div>

</div>

<p>El total a pagar se calcula tomando como base el pago por hora x las horas laboradas</p>

<!-- <div class="card mb-3">

    <div class="card-header py-3">
        Resumen de pago
    </div>

    <div class="card-body">

        <ul class="list-group list-group-flush">


            <li class="list-group-item text-success d-flex justify-content-between align-items-center">
                <span>Horas laboradas: 73:59 Horas</span>
                <h6>S/. 535.76</h6>
            </li>

            <li class="text-danger list-group-item d-flex justify-content-between align-items-center">
                <span>Descuento Almuerzo: - 10 Horas (*)</span>
                <h6>- S/. 72.40</h6>
            </li>

            <li class="text-danger  list-group-item d-flex justify-content-between align-items-center">
                <span>Descuento dia 11 de Abril: - 9 Horas (**)</span>
                <h6>- S/. 65.16</h6>
            </li>

            <li class="text-success  list-group-item d-flex justify-content-between align-items-center">
                <span>Comisiones del 1 al 18</span>
                <h6>S/. 137.41</h6>
            </li>

        </ul>

    </div>

    <div class="card-footer bg-dark text-white py-3 d-flex justify-content-between align-items-center">
        <span>Total a Pagar</span>
        <h3>+ S/. 535.61</h3>
    </div>


</div>

<p>(*) El control biometrico marca las horas de corrido y no descuenta la hora del almuerzo, por tanto se descuento 1
    hora por cada dia de los 10 dias laborados</p>
<p>(**) El 11 fue sabado y este dia es de convenio para recuperar dias pasados, por lo que no entra en el computo de
    esta quincena</p> -->


}