<form [formGroup]="form">

    <table class="table table-bordered">
  
      <tbody formArrayName="variantsForm">
  
        @for (group of variantsForm.controls; let i = $index; track i) {
  
          @let variant = variants[i];
  
          <tr [formGroupName]="i">
  
            <th class="text-center">
              {{ variant.id }}
            </th>
  
            <td class="text-center">
              <fa-icon [icon]="faBarcode" class="me-2"></fa-icon>
              {{ variant.sku }}
            </td>
  
            <td class="text-center">
              {{ variant.stock }}
            </td>
  
            <td class="text-center">
              <div class="d-flex justify-content-between align-items-center">
                <img
                  [src]="variant?.product?.image?.url_thumbnail"
                  width="50">
                <span>
                  {{ variant?.product?.name }}
                </span>
              </div>
            </td>
  
            @for (option of variant.variant_option_values; track option.id) {
              <td class="text-center">
                {{ option.option_value.value }}
              </td>
            }
  
            <td style="width: 90px;">
              <input
                type="number"
                class="form-control text-center"
                placeholder="0"
                formControlName="quantity">

            </td>
  
  
          </tr>
  
        }
  
      </tbody>
  
    </table>
  
  </form>

  {{ form.value | json }}