@if(loading){
<app-loading></app-loading>
}@else{

<!-- <div class="container-fluid mb-3">

</div> -->

<!-- <app-shopify-card-order-index [pedidos]="orders.length"></app-shopify-card-order-index> -->

<div class="alert alert-warning">Pendientes de empaque</div>

<div class="card mb-3">

    <div class="card-header py-3">
        <app-shopify-order-header-navigation></app-shopify-order-header-navigation>
    </div>

    <div class="card-body p-0">

        <app-shopify-order-index [orders]="orders"></app-shopify-order-index>

        <!-- {{ orders | json }} -->

    </div>
    
    <div class="card-footer" style="border-top: 0;">

    </div>

</div>

}

