@switch (status) {
  @case ('UNFULFILLED') {
    <span class="badge bg-secondary">
        Pendiente
    </span>
    <div class="text-secondary mt-3"><fa-icon [icon]="faTruck"></fa-icon></div>
  }
  @case ('PARTIALLY_FULFILLED') {
    <span class="badge bg-warning">
        Parcialmente Enviado
    </span>
  }
  @case ('FULFILLED') {
    <span class="badge bg-success">
        Enviado
    </span>
    <div class="text-success mt-3"><fa-icon [icon]="faTruckFast"></fa-icon></div>
  }
  @case ('RESTOCKED') {
    <span class="badge bg-danger">
        Cancelado
    </span>
  }
  @case ('IN_PROGRESS') {
    <span class="badge bg-secondary">
        El envío está en proceso
    </span>
  }
  @default {
    <span class="badge bg-warning">
        ERROR
    </span>
  }
}