<app-input-group icontext="S">
    <input formControlName="name" type="text" class="form-control" placeholder="10" aria-label="name"
        aria-describedby="name" />
</app-input-group>

<app-input-group icontext="M">
    <input formControlName="name" type="text" class="form-control" placeholder="2" aria-label="name"
        aria-describedby="name" />
</app-input-group>

<app-input-group icontext="L">
    <input formControlName="name" type="text" class="form-control" placeholder="8" aria-label="name"
        aria-describedby="name" />
</app-input-group>