<div class="row">

    <div class="col-lg-12">

        <form [formGroup]="form">

            {{ form.value | json }}
            {{ form.status }}

            <div class="row">
                <div class="col-lg-6">
                    <!-- origines -->
                    <app-select-custom [options]="origins" formControlName="origin_id"></app-select-custom>
                    <!-- {{ form.value | json }} -->
                </div>

                <div class="col-lg-6">
                    <!-- methodos de entrega -->
                    <app-select-custom [options]="delivery_methods"
                        formControlName="delivery_method_id"></app-select-custom>
                </div>

                <div class="col-lg-12">
                    <!-- seleccioanr courier -->
                    <app-select-custom [options]="couriers" formControlName="courier_id"></app-select-custom>
                </div>hbn

            </div>

            <div class="row mb-3">
                <div class="col-lg-12">
                    <app-button-push formControlName="contra_entrega" *ngIf="courier.acepta_contra_entrega">Contra
                        Entrega</app-button-push>
                </div>
                <div class="col-lg-12">
                    <app-button-envio-es formControlName="envio_es"
                        [acepta_pago_destino]="courier.acepta_pago_destino"></app-button-envio-es>
                </div>

                <div class="col-lg-12" *ngIf="form.get('envio_es')?.value == 2">
                    <app-input-group icon="fa-solid fa-user" icontext="S/." class="w-100">
                        <input type="number" class="form-control" step="0.01" formControlName="shipping_cost"
                            placeholder="0.00">
                    </app-input-group>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <app-address-form formControlName="address" (formValidity)="formValid($event)" [header]="false"
                        [saving]="false"></app-address-form>
                </div>
            </div>

            <!-- <app-cart-order [warehouse_id]="warehouse_id" *ngIf="cartItems != null"></app-cart-order> -->

            <!-- <app-input-search-product></app-input-search-product> -->

        </form>

    </div>
</div>

<div class="footer py-4 d-flex flex-row-reverse">

    <button type="button" class="btn btn-primary px-4 py-2" [disabled]="!(btnActive && formAddressIsValid)"
    (click)="createOrderShopify()">Generar
    Pedido</button>

</div>