/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-click{
  pointer-events: none;
}

.price{
    width: 100px;
}

.title {
  width: 250px;
}