<div class="table-responsive">
    <table class="table table-hover mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <!-- <th class="text-center">#</th> -->
                <th class="text-center"></th>
                <th>Producto</th>
                <th class="text-center">Gasto Total</th>
                <th class="text-center">Costo x unidad</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Fallados</th>
                <th>Fabricado por</th>
                <th>Creado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @for (manufacture of manufactures; track manufacture.id) {

            <tr (click)="getManufactureId(manufacture.id)">
                <!-- <td class="text-center py-3">#{{ manufacture.id }}</td> -->
                <td class="text-center">
                    <fa-icon [icon]="faScissors"></fa-icon>
                </td>
                <td>
                    <div class="name">{{ manufacture.name }}</div>
                    <div class="name">58%</div>
                </td>
                <td class="text-center">{{ manufacture.cost }}</td>
                <td class="text-center">{{ manufacture.cost }}</td>
                <td class="text-center">
                    {{ manufacture.quantity_total }}
                </td>
                <td class="text-center">
                    {{ manufacture.quantity_failures }}
                </td>
                <td>
                    {{ manufacture?.user?.name }}
                </td>
                <td>{{ manufacture.created_at | DateShopify }}</td>
                <td class="text-center" style="width: 50px;">
                    <app-button color="outline-dark" [icon]="faEdit"></app-button>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>