<!-- <td class="text-center py-3">#{{ production.id }}</td> -->
<!-- <td class="text-center">
                    <fa-icon [icon]="faScissors"></fa-icon>
                </td> -->
<th class="text-center" style="width: 50px;">
    #000{{ production.id }}
</th>

<!-- <td class="text-center" style="width: 75px;">

    <h6 class="mb-0">
        @if(production.type === 'production'){
        <span class="badge bg-primary px-3 py-1"><fa-icon [icon]="faGears" style="opacity: 0.5;" class="me-1"></fa-icon>
            Produccion
        </span>
        }@else{
        <span class="badge bg-success px-3 py-1">
            <fa-icon [icon]="faBoxesStacked" style="opacity: 0.5;"
                class="me-1"></fa-icon>
            Orden
            de Compra</span>
        }
    </h6>

</td> -->


<!-- <td class="text-center" style="width: 75px;">{{ production.sum_products?? 0 }}</td> -->
<td>

    <div class="date-main">{{ production.name }}</div>
    <div class="date-sub">{{ production?.user?.name }}</div>
</td>
<!-- <td class="text-center">{{ production.sum_purchases?? 0 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}
</td> -->
<!-- <td class="text-center">{{ (production.sum_products > 0) ? production.sum_purchases /
    production.sum_products : 0 | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td>-->


<td class="text-center">
    <h6>{{ cost(production) | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
</td>

<td class="text-center">
    <h5><span class="badge bg-light text-dark border fw-semibold">{{ production?.sum_variants ?? 0 }}</span></h5>
</td>

<td class="text-center">
    {{ production?.sum_kardexes ?? 0 }}
</td>

<td class="text-center">
    {{ production?.count_variants ?? 0 }}
</td>

<!-- <td>
    <ngb-progressbar [showValue]="true" [striped]="true" type="success" [value]="getProgress(production)"/>
</td> -->

<td class="text-center">
    <h6>{{ production?.sum_purchases ?? 0 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
</td>
<!-- <td class="text-center">
    <h6 class="mb-0">
        <span class="badge bg-success px-3 py-1">
            <i class="fa-solid fa-circle-check me-2"></i>Completado
        </span>
    </h6>
</td> -->

<td class="text-center">
    <!-- <div class="date-main">{{ production.created_at | DateShopify }}</div> -->
    <div class="date-sub">{{ production.updated_at | DateShopify }}</div>

</td>

<td class="text-center" style="width: 50px;">
    <div class="d-flex align-items-center gap-3 justify-content-center">
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-dark btn-sm" id="dropdownBasic1" ngbDropdownToggle>
                <i class="fas fa-ellipsis-h"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem class="btn-sm" [routerLink]="['/', store, 'dashboard', 'manufactures', 'productions', production.id]">
                    <fa-icon [icon]="faGears" class="me-2"></fa-icon> Editar
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem class="btn-sm" [routerLink]="['/', store, 'dashboard', 'manufactures', 'productions', production.id, 'purchases']">
                    <fa-icon [icon]="faMoneyBill1" class="me-2"></fa-icon> Compras
                </button>
                <button ngbDropdownItem class="btn-sm" [routerLink]="['/', store, 'dashboard', 'manufactures', 'productions', production.id, 'variants']">
                    <fa-icon [icon]="faScissors" class="me-2"></fa-icon>
                    Inventario Inicial
                </button>
                <button ngbDropdownItem class="btn-sm" [routerLink]="['/', store, 'dashboard', 'manufactures', 'productions', production.id, 'kardexes']">
                    <fa-icon [icon]="faArrowRightArrowLeft" class="me-2"></fa-icon> Recepciones
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem class="btn-sm">
                    <fa-icon [icon]="faTrash" class="me-2 text-danger"></fa-icon>Eliminar
                </button>
            </div>
        </div>
    </div>
</td>