<div class="card">

  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center pt-3 pb-3">
    <div class="title">Registro de compras</div>
    <!-- <app-button-link [icon]="faPlus" color="light" [path]="['purchases','create']">Crear</app-button-link> -->
     <app-button [icon]="faPlus" color="light" (click)="alertCreatePurchase()">Crear</app-button>
  </div>

  <div class="card-body">

    @if(!loading){
      
    <app-purchase-index [purchases]="purchases"></app-purchase-index>

    }@else{
    <app-loading></app-loading>
    }

  </div>
</div>