<div class="table-responsive">

    <table class="table table-hover table-striped mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Entrada</th>
                <th scope="col" class="text-center">Salida</th>
                <th scope="col" class="text-center">Horas</th>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Dia</th>
                <th scope="col" class="text-center">Asistencia</th>
            </tr>
        </thead>

        <tbody>
            @for (attendance of attendances; track attendance.id) {

            @if(attendance.missing){
            <tr class="table-danger">
                <td class="text-center">{{ attendance.id }}</td>
                <td class="text-center">{{ attendance.employee?.user.name | uppercase }}</td>

                <td class="text-center">{{ attendance.check_in }}</td>
                <td class="text-center">{{ attendance.check_out }}</td>
                <td></td>
                <td class="text-center">{{ attendance.date }}</td>
                <td class="text-center">{{ attendance.date | dayOfWeek }}</td>
                <td class="text-center text-danger"><fa-icon style="font-size: 1rem;" [icon]="faCircleXmark"></fa-icon>
                </td>
            </tr>
            }@else{
            <tr>
                <td class="text-center">{{ attendance.id }}</td>
                <td class="text-center">{{ attendance.employee?.user.name | uppercase }}</td>
                <td class="text-center">

                    @if (attendance.check_in | lateStatus) {
                    <span class="text-danger">{{ attendance.check_in }}</span>
                    } @else {
                    <span class="text-success">{{ attendance.check_in }}</span>
                    }

                </td>
                <td class="text-center">{{ attendance.check_out }}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center align-items-center">

                        @if (attendance.check_in | attendanceStatus:attendance.check_out) {
                        <span class="text-success">
                            {{ attendance.check_in | workedHours:attendance.check_out }}
                        </span>
                        } @else {
                        <span class="text-danger">
                            {{ attendance.check_in | workedHours:attendance.check_out }}
                        </span>
                        }
                    </div>
                </td>
                <td class="text-center">{{ attendance.date }}</td>
                <td class="text-center">{{ attendance.date | dayOfWeek }}</td>
                <td class="text-center text-success">
                    <fa-icon style="font-size: 1rem;" [icon]="faCheck"></fa-icon>
                </td>
            </tr>
            }



            }

        </tbody>

    </table>

</div>