<div class="table-responsive">

    <table class="table table-hover mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Nombre</th>
                <th scope="col" class="text-center">Entrada</th>
                <th scope="col" class="text-center">Salida</th>
                <th scope="col" class="text-center">Horas</th>
                <th scope="col" class="text-center">Dia</th>
                <th scope="col" class="text-center">Observ.</th>
                <th scope="col" class="text-center">Asistencia</th>
                <th scope="col" class="text-center"></th>
            </tr>
        </thead>

        <tbody>

            @for (attendance of attendances; track attendance.date) {
                @if(attendance.missing){
                <tr class="table-danger" app-attendance-index-row [attendance]="attendance"></tr>
                }@else{
                <tr app-attendance-index-row [attendance]="attendance"></tr>
                }
            }
            <tr>
                <td colspan="4"></td>
                <td class="text-center">
                    <h6>{{ hoursMinuts }}</h6>
                </td>
                <td colspan="5"></td>
            </tr>

        </tbody>

    </table>

</div>
