<button type="button" (click)="openVerticallyCentered(content)" class="btn p-0 border-0 bg-transparent text-start"
  style="text-decoration: none; width: 100%;">
  <div class="card text-bg-info mb-3 text-white">
    <div class="card-header py-3">Mercadopago</div>
    <div class="card-body">
      <!-- <h5 class="card-title"></h5> -->
      <p>
        <span class="me-2">Generar Link</span>      
        <fa-icon [icon]="faArrowUpRightFromSquare"></fa-icon>
      </p>

      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s
        content.</p> -->
    </div>
  </div>
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Link de pago</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <app-mp-pago-link-create></app-mp-pago-link-create>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>


<!-- <button class="btn btn-outline-primary mb-2 me-2" (click)="openVerticallyCentered(content)"></button> -->