<form [formGroup]="form">

    <div class="row mb-3">
        <div class="col-lg-12 col-md-12 col-12">
            <app-input-group text="Nombre completo" [icon]="faPenToSquare">
                <input formControlName="name" type="text" class="form-control"
                    [class.is-invalid]="form.get('name')?.invalid && form.get('name')?.touched"
                    placeholder="Nombre completo" aria-label="name" aria-describedby="basic-name" />
            </app-input-group>

            <!-- hay texto: 
                {{ form.get('name')?.valid  }} <br>
                No hay texto:
                {{ form.get('name')?.invalid  }} <br>
                Me fui del input
                {{ form.get('name')?.touched  }} -->

        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <app-input-group text="Telefono" [icon]="faPhone">
                <input formControlName="phone" type="text" class="form-control" placeholder="Telefono"
                    [class.is-invalid]="form.get('phone')?.invalid && form.get('phone')?.touched" aria-label="phone"
                    aria-describedby="basic-name" />
            </app-input-group>
        </div>
        
        <div class="col-lg-6 col-md-6 col-12">
            <app-input-group text="DNI" [icon]="faIdBadge">
                <input formControlName="document_number" type="text" class="form-control" placeholder="DNI"
                    [class.is-invalid]="form.get('document_number')?.invalid && form.get('document_number')?.touched"
                    aria-label="dni" aria-describedby="basic-name" />
            </app-input-group>
        </div>


        <div class="col-lg-12 col-md-12 col-12">
            <app-input-group text="Email" [icon]="faEnvelope">
                <input formControlName="email" type="text" class="form-control" placeholder="Email" aria-label="email"
                    [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
                    aria-describedby="basic-name" />
            </app-input-group>
        </div>

    </div>
</form>