<c-card class="w-100">
    <div cPlaceholderAnimation="glow">
    </div>
    <c-card-body cPlaceholderAnimation="glow">
      <h5 cCardTitle>
        <span cCol="6" cPlaceholder></span>
      </h5>
      <p cCardText>
        <span cCol cPlaceholder class="me-1" xs="7"></span>
        <span cCol="4" cPlaceholder class="me-1"></span>
        <span cCol="4" cPlaceholder class="me-1"></span>
        <span cCol="6" cPlaceholder class="me-1"></span>
        <span cCol="8" cPlaceholder class="me-1"></span>
      </p>
      <p>
        <a cButton cCol="1" cPlaceholder color="primary" disabled routerLink="./"></a>
      </p>
    </c-card-body>
  </c-card>