    @switch (status) {
      @case ('PAID') {
        <span class="badge bg-success">Pagado</span>
      }

      @case ('PENDING') {
        <span class="badge bg-warning">Pendiente</span>
      }

      @case ('EXPIRED') {
        <span class="badge bg-danger">Rechazado</span>
      }
      @case ('VOIDED') {
        <span class="badge bg-secondary">Anulado</span>
      }
      @case ('REFUNDED') {
        <span class="badge bg-danger">Reembolsado</span>
      }

      @default {
        <!-- {{ order.status }} -->
      }
    }