<ng-container [formGroup]="form">
    <td class="text-center">
        <fa-icon [icon]="faBarcode" class="me-3"></fa-icon> {{ variant.sku }}
    </td>

    <td class="text-center">{{ variant?.product?.name }}</td>

    @for (option_value of variant.option_values; track option_value.id) {
    <td class="text-center">{{ option_value.value }}</td>
    }

    <td>
        <select class="form-select" formControlName="comment">
            @for (comment of comments; track comment) {
            <option [value]="comment">{{ comment }}</option>
            }
        </select>

    </td>

    <td style="width: 100px;" class="px-3">
        <input type="number" formControlName="quantity" class="form-control text-center" placeholder="0"
            onclick="this.select()" aria-label="quantity" aria-describedby="basic-quantity" />
    </td>


    <td style="width: 75px;" class="px-3">
        <app-button [icon]="faCheck" [color]="form.valid ? `${color_check} text-white` : 'outline-dark'"></app-button>
    </td>

    <!-- {{ form.value | json }} -->


</ng-container>