@if(loading){
<app-loading></app-loading>
}@else{

<div class="card">

    <div class="card-header">
        Asistencias
    </div>

    <div class="card-body p-0">
        <app-attendance-index [attendances]="attendances"></app-attendance-index>

    </div>

    <div class="card-footer" style="border-top: 0;">
        <div class="d-flex justify-content-end align-items-center">
            <span class="text-muted me-2">Total Horas:</span>
            <span class="text-muted"></span>
        </div>
    </div>

</div>

}