<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center" scope="col">Id</th>
                <th class="ps-3" scope="col">Title</th>
                <!-- <th scope="col" class="text-center">Categoria</th> -->
                <th scope="col" class="text-center">Inventario</th>
                <th scope="col" class="text-center">status</th>
                <th scope="col" class="text-center"></th>

            </tr>
        </thead>
        <tbody>
            @for (product of products; track product.id) {
            <tr>
                <th class="text-center  align-middle" scope="row">
                    <img [src]="product.featuredImage?.src" width="auto" height="100px" alt="">
                </th>
                <td class="ps-3 align-middle">
                    <h6>{{ product.title }}</h6>
                    <small>{{ product.category?.name }}</small>
                </td>
                <!-- <td class="text-center">{{ product.category.name }}</td> -->
                <td class="text-center align-middle">
                    <app-table-variant [variants]="product?.variants"></app-table-variant>
                </td>
                <td class="text-center align-middle">
                    <app-badge-status [status]="product.status"></app-badge-status>
                </td>
                <td class="text-center align-middle">
                    <!-- Botón Editar -->
                    Acciones
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<!-- res.data.products.edges.map((edge: any) => edge.node); -->

<!-- <ul class="list-group list-group-flush">

    @for (product of products; track product.id) {
    <li class="list-group-item py-3">
        <app-product-index-row [product]="product" (deleteProduct)="reListProducts($event)"></app-product-index-row>
    </li>
    }

</ul> -->