.dropzone {
    border: 0.5px dashed #00A1FF !important;
    background: #E5F5FF;
    background-size: contain;      /* Ajusta la imagen para cubrir todo el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;  /* Centra la imagen en el contenedor */
    /* background-color: #f0f0f0;   */
    /* background-color: rgba(240, 240, 240, 0.8); */
    /* min-height: 80px !important; */
    padding: 0 !important;
}
