<form [formGroup]="form" (ngSubmit)="create()">

  <div class="row mb-3">
    <div class="col-lg-6 col-md-6 col-12">
      <app-input-group text="Nombre Proveedor (*)" [icon]="faEdit">
        <input formControlName="name" type="text" class="form-control" placeholder="Nombre del Proveedor"
          aria-label="name" aria-describedby="basic-name" />
      </app-input-group>
    </div>

    <div class="col-lg-6 col-md-6 col-12">
      <app-input-group text="Phone" [icon]="faTags">
        <input formControlName="phone" type="number" class="form-control" placeholder="phone" aria-label="phone"
          aria-describedby="basic-phone" />
      </app-input-group>
    </div>

    <div class="col-lg-12 col-md-12 col-12">
      <app-input-group text="Direccion" [icon]="faAddressCard">
        <input formControlName="address" type="text" class="form-control" placeholder="Direccion" aria-label="address"
          aria-describedby="basic-address" />
      </app-input-group>
    </div>

    

    <!-- <div class="col-lg-6">
          <label class="mb-2">Tipo</label>
          <div class="mb-3">
            <app-identity-selected formControlName="identity_id"></app-identity-selected>
          </div>
      </div>

    <div class="col-lg-6 col-md-6 col-6">
      <app-input-group text="Documento de identidad" [icon]="faIdCard">
        <input formControlName="document_number" type="text" class="form-control" placeholder="# Documento"
          aria-label="price" aria-describedby="basic-price" />
      </app-input-group>
    </div>

    <div class="col-lg-12 col-md-12 col-12">
      <app-input-group text="Email" [icon]="faTags">
        <input formControlName="email" type="text" class="form-control" placeholder="Email" aria-label="Email"
          aria-describedby="basic-email" />
      </app-input-group>
    </div> -->

  </div>

  <app-button color="dark" [icon]="faPlus" [disabled]="disabledButton" [loadingIcon]="loadingIcon"
    (action)="create()">Crear Proveedor</app-button>

  <!-- {{ form.value | json }} -->

</form>