@if(loading){
<app-loading></app-loading>
}@else{
<app-head-page title="Inventario" [export]="false">
    <app-button-add (click)="openVerticallyCentered(content)"></app-button-add>
</app-head-page>

<div class="card">

    <div class="card-header py-3">
        <app-head-table></app-head-table>
    </div>

    <div class="card-body p-0">

        <app-inventory-batch-index [inventories]="inventories"
            (sumQuantityEmit)="receiveSumQuantity($event)"></app-inventory-batch-index>

    </div>

    <div class="card-footer py-3 text-end" style="border-top: 0px !important;">
        <h5>Total: {{ sum_quantity }}</h5>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Ingreso de inventario</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-inventory-create (emitInventoryCreate)="receiveInventoryCreate($event)"></app-inventory-create>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


}