@if(loading){
<app-loading></app-loading>
}@else{

<form [formGroup]="form">

    <div class="row mb-3 pt-3 pb-4 px-4">
        <div class="col-lg-12">
            <app-input-group [icon]="editIcon" text="Nombre de la categoria">
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre de Categoria" aria-label="name"
                    aria-describedby="basic-tiktok" />
            </app-input-group>
        </div>

        <div class="col-lg-12 col-12">
            <div class="category-list mb-3">
                <label class="mb-2">Categoria Padre</label>
                @if(loadingSubcategories){
                <app-loading></app-loading>
                }@else{
                <app-category-selected (emitCategorySelected)="categorySelected($event)" formControlName="parent_id"
                    [categories]="categories"></app-category-selected>
                }
            </div>
        </div>

        <div class="col-lg-12">

            <div class="card mt-3 mb-4">

                <div class="card-header bg-secondary text-white">Agregar Opciones</div>
            
                <div class="card-body">

                    <ul class="list-group list-group-flush">
                    
                        <li class="list-group-item">
                            <app-button-switch textActive="Colores Activos" formControlName="is_color" textDesactive="Colores"></app-button-switch>
                        </li>
                        <li class="list-group-item pt-3">
                            <app-button-switch textActive="Tallas Activas" formControlName="is_size" textDesactive="Tallas"></app-button-switch>
                        </li>
                    </ul>
            
            
                </div>
            
            </div>
        </div>
        

        <div class="col-lg-12 col-12">

            <app-button (action)="create()" color="primary" [icon]="faPlus" [disabled]="disabledButton"
                [loadingIcon]="loadingIcon">Crear Categoria</app-button>

        </div>

    </div>

    <!-- {{ form.getRawValue() | json }} -->

</form>
}