<!-- <ul class="list-group list-group-flush">

    <li class="list-group-item">{{ purchase.name }}</li>

</ul> -->

<div class="table-responsive">

    <table class="table table-hover table-striped mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Qty</th>
                <th scope="col">Unidad</th>
                <th scope="col" class="text-center">Producto</th>
                <th scope="col" class="text-center">Price</th>
                <th scope="col" class="text-center">Total</th>
            </tr>
        </thead>

        <tbody>
            @for (item of purchase.items; track item.id) {
            <tr>
                <td class="text-center">{{ item.id }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.price | pen }}</td>
                <td class="text-center">{{ (item.price * item.quantity) | pen }}</td>
            </tr>
            }
        </tbody>

    </table>

</div>