<form [formGroup]="form">

    <div class="row mb-3">
        <div class="col-lg-12">

            <app-input-group text="Monto">

                <div class="input-wrapper">
                    <span class="prefix">S/.</span>
                    <input formControlName="amount" type="number" step="0.01" class="form-control text-center input-big"
                        [class.is-invalid]="form.get('amount')?.invalid && form.get('amount')?.touched"
                        placeholder="0.00" aria-label="amount" aria-describedby="basic-amount" twoDecimals />
                </div>


            </app-input-group>

        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <label for="Metodo de pago" class="mb-2">Metodo de pago</label>

            <app-gateway-selected formControlName="gateway_id"
                [class.is-invalid]="form.get('gateway_id')?.invalid && form.get('gateway_id')?.touched"></app-gateway-selected>

            <!-- <select formControlName="method" class="form-select mb-3" aria-label="Default select example">
                <option [value]="null" selected>Metodo de pago</option>
                @for (method of METHODS; track method.id) {
                <option value="{{ method.name }}">{{ method.title }}</option>
                }

            </select> -->

        </div>

        <div class="col-12 col-md-6 col-lg-6">

            <label for="" class="mb-2">Tipo de movimiento</label>

            <select class="form-select form-select-sm py-1 mb-3" aria-label="Default select example"
                formControlName="direction"
                [class.is-invalid]="form.get('direction')?.invalid && form.get('direction')?.touched">

                <option selected>Tipo</option>
                <option value="out">Salida</option>
                <option value="in">Ingreso</option>

            </select>

        </div>

        <div ngbAccordion #accordion="ngbAccordion" class="mb-3">
            <div ngbAccordionItem="first">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>+ Opciones</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>


                            <div class="col-12 col-md-12 col-lg-12">
                                <app-input-group text="Fecha de pago">
                                    <input formControlName="date" type="date" class="form-control"
                                        [class.is-invalid]="form.get('date')?.invalid && form.get('date')?.touched"
                                        placeholder="" aria-label="fecha" aria-describedby="basic-fecha" />
                                </app-input-group>
                            </div>

                            <div class="col-12 col-md-12 col-lg-12">
                                <label class="mb-2">Comentarios</label>
                                <textarea formControlName="comment" class="form-control mb-3"
                                    placeholder="Comentarios"></textarea>
                            </div>

                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        @if(formCreate){

        <div ngbAccordion #accordion="ngbAccordion">
            <div ngbAccordionItem="second">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton><fa-icon [icon]="faReceipt" class="me-2"></fa-icon>Recibos</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>

                            <div class="col-lg-12">


                                <ngx-dropzone (change)="onSelect($event)" [multiple]="true" accept="image/*">

                                    <ngx-dropzone-label>
                                        <div class="message">
                                            <fa-icon [icon]="faFileCirclePlus" class="me-2"></fa-icon>
                                            <span>Arrastra Comprobantes</span>
                                        </div>
                                    </ngx-dropzone-label>

                                    @for (file of images; track file) {
                                    <ngx-dropzone-image-preview (removed)="onRemove($event)" [file]="file"
                                        [removable]="true">
                                    </ngx-dropzone-image-preview>
                                    }
                                </ngx-dropzone>


                            </div>

                        </ng-template>
                    </div>
                </div>
            </div>

        </div>

        }


    </div>

</form>