@if(loading){
<app-loading></app-loading>
}@else{


<div class="row">

  <div class="col-lg-8 col-md-8 col-12">
    <div class="card mb-3">

      <div class="card-header py-3 bg-primary text-white">
        <fa-icon [icon]="faPenToSquare" class="me-2"></fa-icon> Editar Produccion
      </div>

      <div class="card-body">

        <form [formGroup]="form" class="mb-3">

          <div class="row mb-3">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <app-input-group text="Nombre Produccion (*)" [icon]="faEdit">
                <input formControlName="name" type="text" class="form-control" placeholder="Nombre del Proveedor"
                  aria-label="name" aria-describedby="basic-name" />
              </app-input-group>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <app-input-group text="Total">
                <input formControlName="quantity_total" type="number" class="form-control" placeholder="Total"
                  aria-label="name" aria-describedby="basic-name" />
              </app-input-group>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <app-input-group text="Fallados">
                <input formControlName="quantity_waste" type="number" class="form-control" placeholder="Fallados"
                  aria-label="name" aria-describedby="basic-name" />
              </app-input-group>
            </div>
          </div>

          <app-button color="dark" [icon]="faSave" [disabled]="disabledButton" [loadingIcon]="loadingIcon"
            (action)="update()">Guardar cambios</app-button>

          <!-- {{ form.value | json }} -->

        </form>

      </div>

    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-12">
    <div class="card preview position-relative">

      <!-- contenedor flex SOLO para la imagen -->
      <div class="d-flex justify-content-center align-items-center h-100">
        <img [src]="url_thumbnail_placeholder" [lazyImg]="batch.image?.url_thumbnail" class="img-preview" alt="Producto">
      </div>

      <!-- botón flotante -->
      <button class="btn btn-outline-dark fs-1"
        (click)="openVerticallyCentered(content)">
        <fa-icon [icon]="faCamera"></fa-icon>
      </button>

    </div>
  </div>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title fs-5 d-flex justify-content-between align-items-center">
      <fa-icon [icon]="faImages"></fa-icon>
      <span class="ms-2">Galeria</span>
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-gallery [path]="`batches/${batch.id}/images`" (lastFileUpload)="reReloadImageBatch($event)"></app-gallery>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<h3 class="my-3">Gastos</h3>

<div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true" class="mb-3">

  @for (children of batch.section.childrens; track children.id) {

  <div ngbAccordionItem="section-{{ children.id }}" class="mb-3">
    <h1 ngbAccordionHeader>
      <button ngbAccordionButton class="d-flex justify-content-between align-items-center">

        <div class="w-100">
          <span class="badge rounded-pill me-2"
            [ngClass]="children?.purchases?.length > 0 ? 'text-bg-primary' : 'text-bg-secondary'">{{
            children?.purchases?.length }}</span><span>{{ children.name }}</span>

        </div>

        <h6 style="width: 180px;">{{ children.purchases | sumTotal | currency:'S/. ':'symbol':'1.2-2'}}</h6>

      </button>
    </h1>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <ng-template>
          <app-batch-sections [subsection]="children" [purchases]="children.purchases"
            [purchaseable_id]="batch.id"></app-batch-sections>
        </ng-template>
      </div>
    </div>
  </div>

  }
</div>

<div class="row">
  <div class="col-lg-6 col-6 col-md-6">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">Costo</div>
      <div class="card-body">
        <h4 class="card-title">{{ costoProduccion | currency:'S/. ':'symbol':'1.2-2' }}</h4>
        <p class="card-text">x unidad</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-6 col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header d-flex justify-content-end">Gasto total</div>
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-end">{{ total | currency:'S/. ':'symbol':'1.2-2' }}</h4>
        <p class="card-text d-flex justify-content-end">{{ prendasAprovadas }} unidades</p>
      </div>
    </div>
  </div>
</div>

<!-- <ul class="list-group list-group-flush">

  @for (children of batch.section.childrens; track children.id) {
  <li class="list-group-item">
    <app-batch-sections [subsection]="children" [purchases]="children.purchases"
      [purchaseable_id]="batch.id"></app-batch-sections>
  </li>
  }

</ul> -->

}