.accordion-button {
  font-size: 18px; /* título más grande */
  font-weight:400;
  padding: 25px 20px;
}

// .badge{
//     font-size: 14px; 
// }
/* Cambia el tamaño del contenido */
// .accordion-body {
//   font-size: 14px; /* contenido más pequeño */
// }