<div class="card mb-3">


    <div class="card-body">

        <app-employee-form [form]="form" [roles]="roles"></app-employee-form>
        <!-- {{ form.value | json }} -->

        <app-user-controls-update type="employee" [formValue]="form.value"
            [user_id]="employee.id"></app-user-controls-update>

    </div>

</div>

<app-head-page title="Dias de trabajo" [export]="false">
    <app-button-link (click)="openVerticallyCentered(content)">Agregar Registro</app-button-link>
</app-head-page>

<div class="card">

    <div class="card-body p-0">
        <app-schedule-index></app-schedule-index>
    </div>

    <div class="card-footer text-end" style="border-top: 0;">
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Agregar registro</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"> </button>
    </div>
    <div class="modal-body">
        <app-schedule-create></app-schedule-create>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')"> Close </button>
    </div>
</ng-template>