<ng-template #content let-modal>
  <div class="modal-header">
  <h5 class="modal-title d-flex align-items-center">
    <span class="me-2" style="color: #5756D6"><fa-icon [icon]="faPalette"></fa-icon></span>
    <span>Agregar Colores</span>
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-upload-dropzone bordeColor="#5756D6" [path]="'products/' + product_id + '/colors'"
      (fileUpload)="fileUpload($event)"></app-upload-dropzone>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<app-button [icon]="faPlus" color="primary" (click)="openVerticallyCentered(content)">Colores</app-button>
