<ng-template #content let-modal>
  <div class="modal-header">
  <h5 class="modal-title d-flex align-items-center">
    <span class="me-2" style="color: #5756D6"><fa-icon [icon]="faPalette"></fa-icon></span>
    <span>Agregar Colores</span>
  </h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-upload-dropzone bordeColor="#5756D6" [path]="'products/' + product_id + '/colors'"
      (fileUpload)="fileUpload($event)" (fileTotalUpload)="filesComplete($event)"></app-upload-dropzone>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<button type="button" class="text-{{ colortext }} d-flex justify-content-between align-items-center btn btn-{{ color }}" (click)="openVerticallyCentered(content)">

  <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
  <ng-content></ng-content>

</button>
