<table class="table table-hover table-striped mb-0 align-middle">

    <thead class="table-light ">
        <tr>
            <!-- <th class="text-center">#</th> -->
            <!-- <th class="text-center"></th> -->
            <th class="text-center">#Cod</th>
            <!-- <th class="text-center" style="width: 200px;">Tipo</th> -->
            <th style="width: 400px;">Producto</th>
            <th class="text-center" style="width: 200px;">Inventario</th>
            <th class="text-center" style="width: 200px;">Gasto</th>
            <th class="text-center">Estado</th>
            <th class="text-center" style="width: 300px;">Fecha</th>
            <!-- <th class="text-center">Recepcion</th> -->
            <th class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>

        @for (production of productions; track production.id) {

        <tr app-production-index-row [production]="production"
        ></tr>
        }

    </tbody>

</table>