<div class="card mb-3" [formGroup]="form">

    <div class="card-header text-white bg-primary">
        Ingresar Monto
    </div>

    <div class="card-body">

        <div class="controls d-flex align-items-center gap-2">
            <!-- Formulario: ocupa todo menos el espacio del botón -->
            <app-input-group icontext="S/. " text="" class="flex-grow-1" [mb]="0">
                <input formControlName="amount" type="number" step="0.01" class="form-control" placeholder="0.00"
                    aria-label="price" aria-describedby="basic-price" />
            </app-input-group>

            <!-- Botón: ocupa solo el espacio necesario -->
            <app-button (click)="createLink()" class="mb-0 flex-shrink-0" size="md">Generar Link</app-button>
        </div>
    </div>


    <!-- {{ form.value | json }} -->


</div>

@if(loading){
    <app-loading></app-loading>
}@else{
    <div class="card">

        <div class="card-body">

            <div class="controls d-flex align-items-center gap-2">
                <!-- Formulario: ocupa todo menos el espacio del botón -->
                <app-input-group text="" class="flex-grow-1" [mb]="0">
                    <input [(ngModel)]="link" type="text" class="form-control" aria-label="link"
                        aria-describedby="basic-link" />
                </app-input-group>

                <!-- Botón: ocupa solo el espacio necesario -->
                <app-button (click)="createLink()" class="mb-0 flex-shrink-0" size="md"
                    color="secondary">Copiar</app-button>
            </div>
        </div>

    </div>
}