@if(loading){
<app-loading></app-loading>
}@else{


<app-head-page title="Editar Produccion">
    <app-button-link [path]="['../create']">+ Crear Otra Produccion</app-button-link>
</app-head-page>

<app-manufacture-edit [manufacture]="manufacture"></app-manufacture-edit>

<app-manufacture-widgets [widget]="widget"></app-manufacture-widgets>


<div ngbAccordion [closeOthers]="true" [destroyOnHide]="false">

    <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span style="font-size: 0.85rem;"><fa-icon [icon]="faBagShopping" class="me-2"></fa-icon>Gastos</span>
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>

                <ng-template>
                    <div class="bg-white py-3 d-flex justify-content-between align-items-center">
                        <span class="ms-3"><fa-icon [icon]="faBagShopping" class="me-2"></fa-icon> Lista de compras
                            ({{
                            purchases?.length
                            }})</span>
                        <app-button-add (click)="openVerticallyCentered(content)" class="me-3">Agregar</app-button-add>

                    </div>

                    <app-purchase-index [purchases]="purchases" purchaseable_type="manufacture"
                        [purchaseable_id]="manufacture.id"></app-purchase-index>
                </ng-template>

            </div>
        </div>
    </div>


    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span style="font-size: 0.85rem;"><fa-icon [icon]="faBarcode" class="me-2"></fa-icon>Productos
                    (Corte)</span>
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <div class="bg-white py-3 d-flex justify-content-between align-items-center">
                        <span class="ms-3"><fa-icon [icon]="faBarcode" class="me-2"></fa-icon> Productos
                            ({{
                            purchases?.length
                            }})</span>

                        <app-button-add (click)="openVerticallyCentered(content2)" class="mb-3">Agregar
                            Productos</app-button-add>

                    </div>

                    <app-manufacture-variant-index
                        [manufacture_variants]="manufacture_variants"></app-manufacture-variant-index>
                </ng-template>
            </div>
        </div>
    </div>

    <!-- <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span style="font-size: 0.85rem;"><fa-icon [icon]="faCreditCard"
                        class="me-2"></fa-icon>Presupuesto</span>
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <app-payment-index [payments]="manufacture?.payments" [paymentable_type]="'manufacture'"
                        [paymentable_id]="manufacture.id"></app-payment-index>
                </ng-template>
            </div>
        </div>
    </div> -->

    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <span style="font-size: 0.85rem;"><fa-icon [icon]="faRightLeft" class="me-2"></fa-icon>Recepcion de
                    mercaderia</span>
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <div class="bg-white py-3 d-flex justify-content-between align-items-center">

                        <span class="ms-3"><fa-icon [icon]="faRightLeft" class="me-2"></fa-icon>Entrega y
                            recepcion</span>

                        <div class="buttons d-flex justify-content-end align-items-center">

                            <app-button-add color="success text-white" (click)="openVerticallyCentered(ingreso)"
                                class="mb-3 me-2">Ingreso</app-button-add>

                            <!-- <app-button-add color="warning text-white" (click)="openVerticallyCentered(salida)"
                                class="mb-3 me-2">Reparados</app-button-add> -->

                            <app-button-trash  [me]="true" [icon]="faMinus" (click)="openVerticallyCentered(salida)"
                                class="mb-3"> Salida</app-button-trash>

                        </div>

                    </div>

                    <app-kardex-index [kardexes]="kardexes"></app-kardex-index>

                </ng-template>
            </div>
        </div>
    </div>
</div>

<!-- Agregar Compras -->

<!-- <app-head-page title="Compras" [icon]="faBagShopping">
</app-head-page> -->

<!-- Modal -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h6 class="modal-title">Registrar Compra</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-purchase-create purchaseable_type="manufacture" [purchaseable_id]="manufacture.id"
            (emitPurchaseCreate)="receivePurchaseCreate($event)"></app-purchase-create>
    </div>

</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h6 class="modal-title">Agregar Productos</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-variant-search (emitVariantsSelected)="receiveSearchSelectedVariants($event)"></app-variant-search>
    </div>

</ng-template>

<ng-template #ingreso let-modal>
    <div class="modal-header bg-success text-white">
        <h6 class="modal-title">+ Ingreso de productos</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-kardex-register-in [variants]="variants" [kardexable_type]="'manufacture'" [kardexable_id]="manufacture.id"
            (emitKardexes)="receiveKardexes($event)"></app-kardex-register-in>
    </div>

</ng-template>

<ng-template #salida let-modal>
    <div class="modal-header bg-danger text-white">
        <h6 class="modal-title">- Salida de productos</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-kardex-register-out [variants]="variants" [kardexable_type]="'manufacture'"
            [kardexable_id]="manufacture.id" (emitKardexes)="receiveKardexes($event)"></app-kardex-register-out>

    </div>

</ng-template>

}