@if(loading){
<app-loading></app-loading>
}@else{


<app-head-page title="Editar Produccion">
    <app-button-link [path]="['../create']">+ Crear Otra Produccion</app-button-link>
</app-head-page>

<app-manufacture-edit [manufacture]="manufacture"></app-manufacture-edit>

<app-manufacture-widgets [widget]="widget"></app-manufacture-widgets>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [destroyOnHide]="false">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton><fa-icon [icon]="faBarcode" class="me-2"></fa-icon> Productos a fabricar ({{
                manufacture_variants?.length }})</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <div class="controls text-end mb-3">
                        <app-button-add (click)="openVerticallyCentered(content2)">Agregar</app-button-add>
                    </div>

                    @if(manufacture_variants?.length > 0){
                    <app-manufacture-variant-index
                        [manufacture_variants]="manufacture_variants"></app-manufacture-variant-index>
                    }@else{
                    <hr>
                    <p>No se cuenta con registro de variantes</p>
                    }

                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <fa-icon [icon]="faCommentDollar" class="me-2"></fa-icon> Gastos de insumos ({{ purchases?.length }})
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <div class="controls text-end mb-3">
                        <app-button-add (click)="openVerticallyCentered(content)">Agregar</app-button-add>
                    </div>

                    @if(purchases?.length > 0){
                    <app-purchase-index [purchases]="purchases" purchaseable_type="manufacture"
                        [purchaseable_id]="manufacture.id"></app-purchase-index>
                    }@else{
                    <hr>
                    <p>No se cuenta con registro de compras</p>
                    }


                </ng-template>
            </div>
        </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>
                <fa-icon [icon]="faMoneyBill1" class="me-2"></fa-icon> Transferencias Recibidas
            </button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>

                    <app-payment-index [payments]="manufacture?.payments" [paymentable_type]="'manufacture'" [paymentable_id]="manufacture.id"></app-payment-index>

                </ng-template>
            </div>
        </div>
    </div>

</div>

<!-- Agregar ManufactureVariant -->

<!-- <app-head-page title="Items a fabricar" [icon]="faBarcode">
</app-head-page> -->



<!-- Agregar Compras -->

<!-- <app-head-page title="Compras" [icon]="faBagShopping">
</app-head-page> -->


<!-- Modal -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrar Compra</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-purchase-create purchaseable_type="manufacture" [purchaseable_id]="manufacture.id"
            (emitPurchaseCreate)="receivePurchaseCreate($event)"></app-purchase-create>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Buscar Variantes</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-variant-search (emitVariantsSelected)="receiveSelectedVariants($event)"></app-variant-search>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


}