<div class="table-responsive">
    <table class="table table-hover mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th class="text-center">#</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Telefono</th>
                <th>Status</th>
                <th>Creado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @for (courrier of couriers; track courrier.user.id) {

            <tr (click)="getCourierId(courrier.id)">
                <td class="text-center">{{ courrier.id }}</td>
                <td>{{ courrier.user.name }}</td>
                <td>{{ courrier.user.document_number }}</td>
                <td>{{ courrier.user.phone }}</td>
                                <td>
                    @if(courrier.user.status){
                        <span class="badge text-bg-secondary text-white">Activo</span>
                    }@else{
                        <span class="badge text-bg-danger text-white">Bloqueado</span>
                    }
                </td>
                <td>{{ courrier.user.created_at | DateShopify }}</td>
                <td class="text-center">
                    <div class="controls d-flex justify-content-center align-items-center">
                    </div>
                </td>
            </tr>
            }

        </tbody>
    </table>
</div>
