<form action="" [formGroup]="form">

    <div class="content d-flex justify-content-between align-items-center">

        <div class="dates d-flex justify-content-between align-items-center">
            <input type="date" class="form-control me-2" formControlName="start_date" [max]="form.get('end_date')?.value" />
            <input type="date" class="form-control" formControlName="end_date" [min]="form.get('start_date')?.value"
                [max]="today" />
        </div>

        <div class="controls d-flex justify-content-between align-items-center">
            <input type="text" class="form-control me-2" formControlName="search" placeholder="Buscar"
                (blur)="fnHideSearch()" (keydown.enter)="search()" />
            <app-button color="dark" [icon]="faMagnifyingGlass" (click)="search()">Buscar</app-button>
        </div>

    </div>

    <!-- Buscador -->
    <!-- @if (box_search) {
        <div class="controls__search">

            @if (showSearch) {

            } @else {

            }
        </div>
        }@else{

        } -->



    <!-- {{ form.valid }} -->

</form>