.table-title{
    background-color: #eeecec !important;
}

.separador{
    border-right: 0px !important; border-left: 0px !important; border-right-color: #fff !important; border-left-color: #fff !important;
}

.separador td{
    opacity: 0;
}