<!-- incio de nuevatabla -->
<div class="content">

    <div class="table-responsive">
        <table class="table table-striped table-bordered mb-0 align-middle">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <!-- <th></th> -->
                    @for (price_key of price_keys; track $index) {
                    <th scope="col" class="text-center"> {{ priceName(price_key) | uppercase }}</th>
                    }
                    <!-- <td class="text-center">Json</td> -->
                    <!-- <td class="text-center">Guardar</td> -->
                    <td class="text-center">Sync</td>
                    <td class="text-center">Actualizado</td>
                </tr>
            </thead>
            <tbody>

                @for (product of products; track product.id ) {

                <tr app-shopify-price-index-row [product]="product" [price_keys]="price_keys"></tr>

                }

                <tr>

                    <td class="text-end">
                        Sincronizar masiva con <fa-icon [icon]="faShopify" class="ms-2"></fa-icon>
                    </td>
                    <td></td>
                    @for (price_key of price_keys; track $index) {
                    <td class="text-center">
                        <button style="width: 50px;" class="btn btn-dark" (click)="syncPrices(price_key)"><fa-icon
                                [icon]="faSync"></fa-icon></button>
                    </td>
                    }

                    <!-- <td> </td> -->
                    <td> </td>
                    <td> </td>
                </tr>

                <tr>
                    <th></th>
                    <th></th>
                    <!-- <th></th> -->
                    @for (price_key of price_keys; track $index) {
                    <th scope="col" class="text-center"> {{ priceName(price_key) | uppercase }}</th>
                    }
                    <!-- <td class="text-center">Json</td> -->
                    <!-- <td class="text-center">Guardar</td> -->
                    <td class="text-center"></td>
                    <td class="text-center"></td>
                </tr>

            </tbody>
        </table>
    </div>

</div>
<!-- fin de nuevatabla -->