<div class="table-responsive mb-3">

    <table class="table table-hover table-striped mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th class="text-center" scope="col"></th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col"><fa-icon [icon]="faBarcode"></fa-icon> </th>
                <th class="text-center" style="width: 50px;" class="text-center" scope="col">
                    Quedan
                </th>
            </tr>
        </thead>

        <tbody>

            @for (product of products; track product.id) {

            <tr>
                <td style="width: 50px;" class="px-3">
                    <app-button [color]="1  ? 'dark' : 'outline-dark'" [size]="'sm'" [icon]="faCheck"
                        (click)="addVariant(product.id)"></app-button>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img [src]="product?.image.url_thumbnail" width="50px" alt="">
                        <span>{{ product?.name }}</span>
                    </div>
                </td>
                <td></td>
                <td></td>

            </tr>

            @for (variant of product.variants; let i = $index; track variant.id) {

            <tr>

                <td style="width: 50px;" class="ms-3">

                </td>

                @for (variant_option_value of variant?.variant_option_values; track variant_option_value.id) {
                <td>
                    <div class="d-flex align-items-center">
                        <app-button [color]="1  ? 'dark' : 'outline-dark'" [icon]="faCheck"
                            (click)="addVariant(variant.id)"></app-button>
                        <span class="ms-3">{{ variant_option_value.option_value.value }}</span>
                    </div>
                </td>
                }


                <td class="text-center">
                    {{ variant.sku }}
                </td>


                <td class="text-center">
                    {{ variant.stock }}</td>

            </tr>

            }
            }


        </tbody>

    </table>

</div>