<div class="row mb-3" [formGroup]="form">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <app-input-group text="Titulo (*)" [icon]="faEdit">
      <input formControlName="name" type="text" class="form-control" placeholder="Nombre del producto" aria-label="name"
        aria-describedby="basic-name" />
    </app-input-group>
  </div>

  <div class="col-lg-12 col-12 mb-3">
    <label class="mb-2">Descripcion</label>
    <quill-editor class="w-100" formControlName="body" [modules]="modules" theme="snow"
      [style.height.px]="100"></quill-editor>
  </div>


  <div class="col-lg-12 col-12 mb-3">
    <label class="mb-2">Categorias</label>
    <div class="controsl d-flex justify-content-between align-items-center">

      <app-category-selected [categories]="categories" formControlName="category_id"
        (emitCategorySelected)="categorySelected($event)" class="w-100 me-2"></app-category-selected>
      <app-button [icon]="faPlus" color="outline-dark" (click)="openVerticallyCentered(content)">Crear</app-button>

    </div>
  </div>

  <!-- {{ form.value | json }} -->

</div>

<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title">Crear categoria</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-category-create (emitCategoryCreate)="reListCategories($event)"></app-category-create>
  </div>

</ng-template>