<div class="table-responsive">
    <table class="table table-hover table-striped mb-0 align-middle">

        <thead class="table-light">
            <tr>
                <!-- <th class="text-center">#</th> -->
                <!-- <th class="text-center"></th> -->
                <th class="text-center"></th>
                <th>Tipo</th>
                <th class="text-center">Total</th>
                <th>Producto</th>
                <th class="text-center">Gasto Total</th>
                <th class="text-center">Costo</th>
                <th>Creado</th>
                <th class="text-center">Fecha</th>
                <th class="text-center">Entrada</th>
                <th class="text-center">Salida</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>

            @for (manufacture of manufactures; track manufacture.id) {

            <tr app-manufacture-index-row [manufacture]="manufacture"></tr>

            <!-- <tr (click)="getManufactureId(manufacture)">
                <td class="text-center" style="width: 75px;">{{ manufacture.sum_products?? 0 }}</td>
                <th>
                    <div class="name">{{ manufacture.name }}</div>
                </th>
                <td class="text-center">{{ manufacture.sum_purchases?? 0 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}
                </td>
                <td class="text-center">{{ (manufacture.sum_products > 0) ? manufacture.sum_purchases /
                    manufacture.sum_products : 0 | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</td>
                <td>
                    {{ manufacture?.user?.name }}
                </td>
                <td class="text-center">{{ manufacture.created_at | DateShopify }}</td>
                <td class="text-center" style="width: 50px;">
                    <app-button color="outline-dark" [icon]="faEdit"></app-button>
                </td>
            </tr> -->
            }

        </tbody>

    </table>
</div>