<div class="row">
    <div class="col-lg-3 col-3">
        <app-input-group>
            <input formControlName="name" type="text" class="form-control" placeholder="Nombre" aria-label="name"
                aria-describedby="name" />
        </app-input-group>
    </div>
    <div class="col-lg-3 col-3">
        <app-input-group>
            <input formControlName="name" type="text" class="form-control" placeholder="Valor" aria-label="name"
                aria-describedby="name" />
        </app-input-group>
    </div>
    <div class="col-lg-3 col-3">
        <app-button-add color="secondary ">Agregar</app-button-add>
    </div>
</div>