div class="table-responsive mb-3">

    <table class="table table-striped table-bordered mb-0 align-middle">

        <tbody>

            <tr>
                <td class="text-center">Cantidad</td>
                <!-- <td class="text-center">Avance</td> -->
                <td class="text-center">Variante</td>
                <td class="text-center">Image</td>
                <td class="">Descripcion</td>
                <td class="text-center">Codigo Barras</td>
                <td class="text-center">Precio</td>
                <td class="text-center"></td>
            </tr>


            <tr>
                <td class="text-center">
                    <h6></h6>
                </td>
                <td colspan="6" class="text-end"><small class="text-muted"> Registros
                        encontrados</small></td>
            </tr>

        </tbody>

    </table>

</div>