@if(loading){
<app-loading></app-loading>
}@else{

<app-purchase-form [form]="form" [suppliers]="suppliers"></app-purchase-form>

<!-- {{ form.value | json }} -->
<div class="mb-3">
    <app-button [icon]="faSave" [disabled]="disabledButton" [spinner]="loadingIcon" (click)="update()">Actualizar
        Compra</app-button>
</div>


<!-- <div class="d-flex justify-content-between">

        <app-button [color]="purchase?.images_count > 0 ? 'outline-success' : 'outline-secondary'" [icon]="faImages"
            (click)="openVerticallyCentered(content)">Adjuntos ({{ purchase?.images_count }}) </app-button>

        <app-button color="success" colortext="white" [icon]="faPlus" [disabled]="disabledButton"
            [spinner]="loadingIcon" (click)="update()">Actualizar Compra</app-button>

    </div> -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title fs-5 fw-500">Adjuntar Boletas y Facturas</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="vouchers my-4">
            <app-gallery [path]="`purchases/${purchase.id}/images`"></app-gallery>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #newSupplier let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Crear proveedor</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body pb-4">
        <app-supplier-create (emitSupplierCreate)="supplierReceiveCreate($event)"></app-supplier-create>
    </div>

</ng-template>

}