@if(loading){
<app-loading></app-loading>
}@else{

<app-order-edit-head></app-order-edit-head>

<!-- <app-manufacture-edit [manufacture]="manufacture" [type]="'order'"></app-manufacture-edit> -->

<!-- <div class="widgets mb-3">

    <app-order-widget [widget_summary]="widget_summary" [manufacture_id]="manufacture.id"></app-order-widget>

</div> -->

<router-outlet></router-outlet>

<!-- <app-manufacture-widgets [widget]="widget"></app-manufacture-widgets> -->

<!-- <div class="card mb-3">

    <div class="card-body">

        <app-manufacture-variant-index [text_button]="'Agregar Producto'" [manufacture_id]="manufacture.id"
            (emitSumManufactureVariant)="receiveSumManufactureVariant($event)"
            [sum_products]="widget_summary.sum_products"
            [manufacture_variants]="manufacture_variants"></app-manufacture-variant-index>
    </div>

</div> -->

<!-- <ng-template #ingreso let-modal>
    <div class="modal-header bg-success text-white">
        <h6 class="modal-title">+ Ingreso de productos</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-kardex-register-in [variants]="variants" [kardexable_type]="'manufacture'" [kardexable_id]="manufacture.id"
            (emitKardexes)="receiveKardexes($event)"></app-kardex-register-in>
    </div>

</ng-template>

<ng-template #reingreso let-modal>
    <div class="modal-header bg-warning text-white">
        <h6 class="modal-title">+ Re Ingreso (Reparados)</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-kardex-register-re-in [variants]="variants" [kardexable_type]="'manufacture'"
            [kardexable_id]="manufacture.id" (emitKardexes)="receiveKardexes($event)"></app-kardex-register-re-in>
    </div>

</ng-template>

<ng-template #salida let-modal>
    <div class="modal-header bg-danger text-white">
        <h6 class="modal-title">- Salida de productos</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-kardex-register-out [variants]="variants" [kardexable_type]="'manufacture'"
            [kardexable_id]="manufacture.id" (emitKardexes)="receiveKardexes($event)"></app-kardex-register-out>

    </div>

</ng-template> -->

}