// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@use "charts";

// custom tweaks for scrollbar styling (wip)
@use "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.overlay{
    background-color: #a1a1a1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    position: relative;
}

.transparent-list .list-group-item {
  background-color: transparent !important;
}

.sticky-head{
  position: sticky;
  top: 113px;   /* se fija 80px debajo del borde superior */
  z-index: 10;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;   /* se pega al fondo de la ventana */
  z-index: 999;
  background: white;   /* opcional */
}