// Here you can add other styles

// custom .chartjs-tooltip-body-item padding
@use "charts";

// custom tweaks for scrollbar styling (wip)
@use "scrollbar";

 // custom calendar today cell color
.calendar-cell.today {
  --cui-calendar-cell-today-color: var(--cui-info) !important;
}

// custom select week cursor pointer
.select-week .calendar-row.current {
  cursor: pointer;
}

.overlay{
    background-color: #a1a1a1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    position: relative;
}

.transparent-list .list-group-item {
  background-color: transparent !important;
}

.sticky-head{
  position: sticky;
  top: 113px;   /* se fija 80px debajo del borde superior */
  z-index: 10;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;   /* se pega al fondo de la ventana */
  z-index: 999;
  background: white;   /* opcional */
}

/* menu del sidebar */

.nav-group  > .nav-link{
  font-weight: 400;
}

.nav-item > .nav-link{
  color: #969696;
  font-weight: 300;
}


.nav-item > .active{
  color: #e4e4e4 !important;
}

.fs-7{
  font-size: 0.75rem !important;
}

/* estilos globales para los accordiones */

.accordion-button{
    color: #676767;
    font-weight: 100;
}

.accordion-button:not(.collapsed) {
  background-color: #e7e7e7 !important;
  color: #000;
  font-weight: 500;
}


ng-select.is-invalid .ng-select-container {
  border-color: #dc3545;
}

// ngx-dropzone {
//   height: 120px !important;   /* altura mínima */
// }