<div class="row">

  @if(roles.includes('master') || roles.includes('ceo')) {

  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
    <app-pago-link class="w-100"></app-pago-link>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
    <app-order-link></app-order-link>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
    <app-purchase-order-link [color]="'success'"></app-purchase-order-link>
  </div>
  }

  @if(roles.includes('sales') || roles.includes('ceo')) {
    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <app-pago-link class="w-100"></app-pago-link>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
      <app-order-link></app-order-link>
    </div>
  }


</div>