<div class="row mb-3" [formGroup]="form">

    <!-- {{ addressForm.valid }} -->


    <div class="col-lg-12 col-12">
        <app-input-group [icon]="faUser">
            <input formControlName="name" type="text" inputmode="numeric" class="form-control is-required"
                [ngClass]="isInvalid('name') ? 'is-invalid' : ''" placeholder="* Nombre completo" aria-label="name"
                aria-describedby="Nombre completo">
        </app-input-group>
    </div>

    <div class="col-lg-6 col-12">
        <app-input-group [icon]="faPhone">
            <input type="number" class="form-control is-required" [ngClass]="isInvalid('phone') ? 'is-invalid' : '' "
                placeholder="* Celular" formControlName="phone" required />
        </app-input-group>

    </div>
    <div class="col-lg-6 col-12">
        <app-input-group [icon]="faImagePortrait">
            <input formControlName="dni" type="text" class="form-control"
                [ngClass]="isInvalid('dni') ? 'is-invalid' : '' " placeholder="DNI" aria-label="DNI"
                aria-describedby="Documento nacional de identidad">
        </app-input-group>
    </div>

    <div class="col-lg-12 col-12">
        <app-input-group [icon]="faLocationDot">
            <input formControlName="primary" type="text" class="form-control is-required"
                [ngClass]="isInvalid('primary') ? 'is-invalid' : '' " placeholder="* Direccion" aria-label="address"
                aria-describedby="Direccion primaria">
        </app-input-group>
    </div>

    <div class="col-lg-12 col-12">
        <app-input-group>
            <input formControlName="secondary" type="text" class="form-control" placeholder="Secundaria"
                aria-label="address" aria-describedby="Direccion primaria">
        </app-input-group>
    </div>

    <div class="col-lg-12 col-12">
        <textarea id="" formControlName="references" class="form-control mb-3" placeholder="Referencia"></textarea>
    </div>

    <div class="col-lg-12 col-12">
        <app-input-district-id formControlName="district_id"
            [isInvalid]="isInvalid('district_id')"></app-input-district-id>
    </div>

</div>

<ng-content></ng-content>