<div class="card mb-3">

    <div class="card-body">
        <app-head-table type="employee_attendance" [is_redirect]="false"
            (emitSearchResult)="receive($event)"></app-head-table>
    </div>

</div>

<div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Resumen de Asistencias</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </div>
        </div>
    </div>

    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Resumen de Adelantos</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3
                    wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et.
                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                    vegan
                    excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                    nesciunt
                    you probably haven't heard of them accusamus labore sustainable VHS.
                </ng-template>
            </div>
        </div>
    </div>

    <div ngbAccordionItem [collapsed]="false">
        <h2 ngbAccordionHeader>
            <button ngbAccordionButton>Detalles de pago</button>
        </h2>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody class="p-0">
                <ng-template>
                    <ul class="list-group list-group-flush" style="border-radius: 0.5rem;">

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Sueldo Base ({{ employee.type }})</span>
                            <h6>{{ employee?.salary | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Horas Laboradas</span>
                            <h6>0</h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Adelantos</span>
                            <h6 class="text-danger">- {{ '0' | currency:'PEN':'symbol':'1.2-2':'es-PE' }}</h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Pago por hora (S/. 565/78h)</span>
                            <h6>{{ 7.24 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Comisiones de venta ({{ employee?.comission }}%)</span>
                            <h6>{{ 7.24 | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h6>
                        </li>

                        <li
                            class="list-group-item bg-dark text-white py-3 d-flex justify-content-between align-items-center">
                            <span>Total a Pagar (Partime)</span>
                            <!-- <h3>{{ 7.24 * hoursDecimal | currency:'PEN':'symbol':'1.2-2':'es-PE'}}</h3> -->
                        </li>

                    </ul>
                </ng-template>
            </div>
        </div>
    </div>
</div>