@if(loading){
<app-loading></app-loading>
}@else{
<!-- <app-head-page title="Clientes" [icon]="faUsers">
    <app-button-link [path]="['./create']">Agregar Cliente</app-button-link>
</app-head-page> -->

<div class="card">

    <div class="card-header py-3">

        <app-product-head-table (emitSearchResult)="receiveSearchResult($event)"></app-product-head-table>

    </div>

    <div class="card-body p-0">

        @if(products.length > 0){
            <app-shopify-product-index [products]="products"></app-shopify-product-index>
        }@else{
            <p class="p-4">No se cuenta con registro de productos   </p>
        }

    </div>

    <div class="card-footer text-end" style="border-top: 0;">
        <small class="text-muted">Total: {{ products.length }}</small>
    </div>

</div>



}

